[submodule "external/rdmapp"]
	path = external/rdmapp
	url = https://github.com/harish876/rdmapp
	branch = master
[submodule "external/simple-rdma"]
	path = external/simple-rdma
	url = https://github.com/drdavis65/simple-rdma.git
